section.to-catalog
  .container
    .to-catalog__inner
      include Components/card-catalog/card-catalog.pug
      +card-catalog('cat-slim.svg', 'похудение', 'Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.', 'каталог slim')
      +card-catalog('cat-pro.svg', 'набор массы', 'Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!', 'каталог pro')
