block variables

doctype html
html(lang='ru' class='page')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon" href="assets/img/favicon/favicon.ico" type="image/ico")
    title #{title}
    block styles
  body(class='page__body')
    include Components/common/header/header.pug
    include Components/common/header/burger-menu/burger-menu.pug
    block content
    block scripts
