block variables

doctype html
html(lang='ru' class='page')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon" href="assets/favicon/favicon.ico" type="images/ico")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyWyf_KfLa1_jG98nTMYOu8HtFrqp5s9o" defer)
    title #{title}
    block styles
  body(class='page__body')

    if (withHeaderFooter)
      include Components/common/header/header.pug
      include Components/common/header/burger-menu/burger-menu.pug

    block content

    if (withHeaderFooter)
      include Components/common/footer-big/footer-big.pug

    block scripts
