@import 'Layouts/main-layout/main-layout.scss';

@import 'UIKit/button/button.scss';
@import 'UIKit/arrow-btn/arrow-btn.scss';
@import 'UIKit/input-range/input-range.scss';
@import 'UIKit/input/input.scss';
@import 'UIKit/radio/radio.scss';
@import 'UIKit/textarea/textarea.scss';

.ui-kit {
  flex: 0 0 auto;
  padding-bottom: 56px;
}

h1 {
  margin: 46px 0 85px;
}

.buttons-container {
  margin-top: 30px;
  height: auto;
}

.buttons {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

h2 {
  margin-top: 64px;
  margin-bottom: 16px;
}

hr {
  margin-top: 16px;
  background-color: $green;
  height: 1px;
  border: none;
}

.inputs {
  display: flex;
  justify-content: space-between;

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 569px;
  }
}
