@import 'Layouts/main-layout/main-layout.scss';

@import 'UIKit/green-button/green-button.scss';
@import 'UIKit/arrow-btn/arrow-btn.scss';
@import 'UIKit/input-range/input-range.scss';

.buttons-container {
  margin-top: 30px;
  height: auto;
}

h2 {
  margin-top: 64px;
  margin-bottom: 16px;
}

hr {
  margin-top: 16px;
}
