extends Layouts/layout-without-common/layout-without-common.pug

block variables
  - var title = 'UI-kit'

block styles
  link(href=require('./ui-kit.scss') rel='stylesheet')
block content
  main.page__main
  .container
    h1 UI-Kit

    h2 Green button
    include UIKit/green-button/green-button.pug
    +green-button('подобрать программу')

    hr

    h2 Arrow button
    include UIKit/arrow-btn/arrow-btn.pug
    +arrow-btn('button text', '#', 'in-kit')
    hr

    h2 Input Range
    include UIKit/input-range/input-range
    +range('', '200', '100', '', 'левый текст', 'правый текст')

block scripts
  script(src=require('./ui-kit.js') defer)
