extends Layouts/main-layout/main-layout.pug

block variables
  - let title = 'Main page';
  - let withHeaderFooter = true;
  - let pageClassName = 'main-page';

block styles
  link(href=require('./main.scss') rel='stylesheet')
block content
  main.page__main(class=pageClassName)

    include Partials/main/first-screen/first-screen.pug
    include Partials/main/to-catalog/to-catalog.pug
    include Partials/main/how-it-work/how-it-work.pug
    include Partials/main/live-example/live-example.pug

block scripts
  script(src=require('./main.js') defer)
