.show-more-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 245px;
  height: 100%;
  padding: 51px 35px 40px;
  border: 2px solid $background-color;
  order: 99999;

  &__icon {
    margin-bottom: 49px;
    width: 60px;
    height: 60px;
    transform: translateX(50%);

    &:before,
    &:after {
      content: '';
      width: 2px;
      height: 60px;
      background-color: #D3D3D3;
      display: inline-block;

      @media (max-width: $mobile) {
        height: 30px;
      }
    }

    &:before {
      @media (max-width: $mobile) {
        transform: translateX(2px);
      }
    }

    &:after {
      transform: rotate(90deg);

      @media (max-width: $mobile) {
        transform: rotate(90deg) translateX(1px);
      }
    }

    @media (max-width: $mobile) {
      width: 30px;
      height: 30px;
      margin-bottom: 23px;
    }
  }

  &__title {
    margin-bottom: 23px;
    text-align: center;
    line-height: 110%;

    @media (max-width: $mobile) {
      display: flex;
      margin-bottom: 8px;
    }
  }

  &__text {
    line-height: 112%;
    color: $grey-button-text;
    text-align: center;
  }

  &__show-more-button {
    align-self: flex-end;
    margin-top: 84px;
    width: 100%;
    .button {
      width: 100%;
      padding: 10px;
      &__text {
        font-size: 16px;
      }
    }

    @media (max-width: $mobile) {
      margin-top: 21px;
    }
  }

  &_hidden {
    display: none;
  }

  @media (max-width: $tablet) {
    max-width: 324px;
  }

  @media (max-width: $mobile) {
    max-width: 100%;
    height: 100%;
    padding: 25px 20px;
  }
}
