svg(width='33' height='17' viewbox='0 0 33 17' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M16.3976 0.902771L0.402771 15.165L2.34464 16.8965L16.3993 4.36431L30.4609 16.9028L32.4028 15.1712L16.408 0.909024L16.4063 0.910512L16.3976 0.902771Z' fill='black')
