svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M2.12132 36.8423L17.2798 21.6838L17.6146 22.0187L2.45615 37.1771L2.12132 36.8423ZM19.7359 19.8973L19.4011 19.5625L19.7359 19.2277L20.0707 19.5625L19.7359 19.8973ZM17.6146 17.1064L17.2798 17.4412L2.8229 2.98434L3.15773 2.64951L17.6146 17.1064ZM22.1921 17.4412L21.8572 17.1064L36.8423 2.12132L37.1771 2.45615L22.1921 17.4412ZM21.8572 22.0187L22.1921 21.6838L37.8787 37.3705L37.5438 37.7053L21.8572 22.0187Z" stroke="black" stroke-width="3")

