svg(width='15' height='29' viewBox='0 0 15 29' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M14.0001 0.749756H10.5001C8.95299 0.749756 7.46925 1.45999 6.37529 2.72423C5.28133 3.98846 4.66675 5.70313 4.66675 7.49103V11.5358H1.16675V16.9288H4.66675V27.7148H9.33342V16.9288H12.8334L14.0001 11.5358H9.33342V7.49103C9.33342 7.13345 9.45633 6.79051 9.67512 6.53767C9.89392 6.28482 10.1907 6.14277 10.5001 6.14277H14.0001V0.749756Z' stroke='#666666' stroke-width='1.1' stroke-linecap='round' stroke-linejoin='round')
