extends Layouts/main-layout/main-layout.pug



block variables
  - let title = 'Catalog';
  - let withHeaderFooter = true;
  - let pageClassName = 'catalog';

block styles
  link(href=require('./catalog.scss') rel='stylesheet')
block content

  main.page__main(class=pageClassName)
    include Partials/catalog/goods/goods.pug
    include Partials/catalog/additional-goods/additional-goods.pug
    include Components/modal-add-to-cart/modal-add-to-cart.pug
block scripts
  script(src=require('./catalog.js') defer)
