@import './main-menu/main-menu.scss';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  transform: translateY(150px);
  top: -150px;
  z-index: $z-index-header;
  width: 100%;
  background-color: $white;
  transition: transform ease-in-out 0.3s, background-color ease-in 0.3s;

  &_hidden {
    transform: translateY(-150px);
    @include transition(transform);
  }

  &_transparent {
    background-color: transparent;
  }

  &__desktop-tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 32px 0;

    @media(max-width: $tablet) {
      padding: 24px 0;
    }

    @media(max-width: $mobile) {
      display: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 202px;

    @media(max-width: $tablet) {
      max-width: 174px;
    }
  }

  &__mobile {
    display: none;

    &__logo-icon {
      @media(max-width: $mobile) {
        width: 100%;
        max-width: 33px;
      }
    }

    &__logo-text {
      @media(max-width: $mobile) {
        width: 100%;
        max-width: 101px;
      }
    }

    @media(max-width: $mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px 0;
    }
  }

  &__burger-btn {
    &:active {
      svg {
        line {
          stroke: $grey-button-pressed-text;
        }
      }
    }

    @media(max-width: $mobile) {
      width: 100%;
      max-width: 24px;
    }
  }
}
