@import './main-menu/main-menu.scss';

.header {
  position: fixed;
  transform: translateY(150px);
  top: -150px;
  z-index: 10000;
  width: 100%;
  height: 130px;
  transition: transform ease-in-out 0.3s;

  &_hidden {
    transform: translateY(-150px);
    transition: transform ease-in-out 0.3s;
  }

  &__background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $white;
    opacity: 1;
    @include transition;

    &_hidden {
      opacity: 0;
      @include transition;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__logo {}
}
