.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 36px;
  margin-bottom: 2px;

  &__item {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 8px;
    color: $black;
    border-bottom: 2px solid transparent;

    &_active-green-border {
      border-bottom-color: $green;
    }

    &_white {
      color: $white;
    }

    &_active-white-border {
      border-bottom-color: $white;
    }

    @media(max-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }

    @media(max-width: $mobile) {
      font-size: 28px;
      line-height: 100%;
    }
  }

  @media(max-width: $tablet) {
    column-gap: 32px;
  }

  @media(max-width: $mobile) {
    flex-direction: column;
    row-gap: 68px;
    margin-bottom: unset;
  }
}

@media (hover: hover) {
  .main-menu__item:hover {
    opacity: 0.6;
  }
}

.main-menu__item:active {
  opacity: 0.3;
}
