.modal-window
  include Components/blackout/blackout.pug
  .modal-window__inner
    .modal-window__modal-body
      .modal-window__close-btn
        include Icons/close.pug
      .modal-window__icon
        include Icons/done.pug
      h5.modal-window__title
      p.modal-window__text

