.footer
  .container
    .footer__inner
      a.footer__logo(href='./')
        include Img/logo-text.pug
      .footer__social
        a.footer__s-icon(target='_blank' href='https://vk.com/')
          include Icons/social/vk.pug
        a.footer__s-icon(target='_blank' href='https://www.instagram.com/')
          include Icons/social/instagram.pug
        a.footer__s-icon(target='_blank' href='https://www.facebook.com/')
          include Icons/social/facebook.pug
      a.footer__copyright(target="_blank" href='https://htmlacademy.ru/')
        .footer__academy-text HTML Academy
        .footer__academy-logo
          include Icons/academy-logo.pug
