section.additional-goods(id='additional-goods')
  .container
    h3 Дополнительные товары
    .additional-goods__inner
      .additional-goods__goods-container
        // здесь будут дополнительные товары
        include Components/additional-good-card/additional-good-card.pug
      include Components/gift/gift.pug


