.map
  .container
    .map__invite
      h5.map__title приглашаем<br>к сотрудничеству дилеров!
      .map__address
        p.map__street ул. Большая Конюшенная, д. 19/8
        p.map__city Санкт-Петербург
  .map__map-inner(id='map')
