@import 'Components/blackout/blackout.scss';

.modal-add-to-cart {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: $z-index-modals;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: $mobile) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin: 0 24px;
    }
  }

  &__modal-body {
    width: 600px;
    height: fit-content;
    background-color: $white;
    padding: 64px 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    position: relative;

    @media (max-width: $mobile) {
      width: 100%;
      text-align: center;
      padding: 64px 24px 40px;
    }
  }

  &__icon {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    color: $grey-button-text;
    margin-top: 12px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    svg {
      height: 30px;
      width: 30px;
    }

    @media(max-width: $mobile) {
      right: 24px;
    }

    @media (hover: hover) {
      &:hover {
        svg {
          path {
            stroke: $green;
          }
        }
      }
    }

    &:active {
      svg {
        path {
          stroke: $grey-button-hover;
        }
      }
    }
  }
}
