.modal-add-to-cart
  include Components/blackout/blackout.pug
  .modal-add-to-cart__inner
    .modal-add-to-cart__modal-body
      .modal-add-to-cart__close-btn
        include Icons/close.pug
      .modal-add-to-cart__icon
        include Icons/done.pug
      h5.modal-add-to-cart__title Товар добавлен в мифическую корзину
      p.modal-add-to-cart__text Корзина не предусмотрена макетом и чтобы у страницы было какое-то логическое завершение верстальщик добавил это модальное окно.

