@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), url('Fonts/Roboto-Medium.ttf') format('ttf'), local('Roboto'),
    url('Fonts/Roboto-Medium.woff2') format('woff2');
}
