//colors:
$black: #000000;
$white: #ffffff;
$green: #68B738;
$green-hover: #5EAA2F;
$green-light: #8EC36D;
$grey-dark: #666666;
$grey-light: #B3B3B3;
$background-color: #F2F2F2;
$section-border: #E6E6E6;
$footer-black: #111111;

//grey-button-colors:
$grey-button: #F2F2F2;
$grey-button-text: #444444;

$grey-button-hover: #EBEBEB;

$grey-button-pressed-text: #B9B9B9;

$grey-border: #D9D9D9;


//input:
$grey-input-border-static: #E7E7E7;
$input-error: #FF8282;

//breakpoints:
$tablet: 1440px;
$mobile: 540px;

//z-index:
$z-index-header: 9900;
$z-index-burger-menu: 10000;
