@import 'Styles/_reset.scss';
@import 'Styles/_variables.scss';
@import 'Styles/_typography.scss';
@import 'Styles/_fonts.scss';
@import 'Styles/_mixins.scss';
@import 'Styles/_indents.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.scroll-prohibited {
  overflow: hidden;
}

div.modal-window-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

.page__main {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 110px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    padding: 0 30px;
  }

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

