.additionally-data

  include Components/title-with-line/title-with-line.pug
  +title-with-line('Дополнительно')

  .container
    .additionally-data__row.program-selection__block-container
      include UIKit/checkbox/checkbox.pug
      +checkbox('sweetener', 'sweetener', 'сахарозаменитель')(form='program-selection-form')
      +checkbox('water', 'water', 'питьевая вода')(form='program-selection-form')
      +checkbox('milk', 'milk', 'молоко')(form='program-selection-form')
      +checkbox('vitamins', 'vitamins', 'витамины')(form='program-selection-form')
