footer.footer
  .container
    .footer__inner
      a.footer__logo(href='/')
        include Img/logo-text.pug
      .footer__social
        a.footer__s-icon(href='#')
          include Img/icons/social/vk.pug
        a.footer__s-icon(href='#')
          include Img/icons/social/instagram.pug
        a.footer__s-icon(href='#')
          include Img/icons/social/facebook.pug
      a.footer__copyright(href='#')
        .footer__academy-text HTML Academy
        .footer__academy-logo
          include Img/icons/academy-logo.pug
