svg(width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg")
    line(x1="0.65" y1="6" x2="0.65" y2="14" stroke="#222222" stroke-width="1.3")
    line(x1="17.65" y1="6" x2="17.65" y2="14" stroke="#222222" stroke-width="1.3")
    line(y1="13.35" x2="18" y2="13.35" stroke="#222222" stroke-width="1.3")
    line(y1="1.35" x2="18" y2="1.35" stroke="#222222" stroke-width="1.3")
    path(d="M17.35 3.1821L9.00002 9.67654L0.65 3.18209V1.65H3.5L9.00002 1.65H14H17.35V3.1821Z" stroke="#222222" stroke-width="1.3")
