.comment-data

  include Components/title-with-line/title-with-line.pug
  +title-with-line('Комментарий')

  .container
    .comment-data__row.program-selection__block-container
      include UIKit/textarea/textarea.pug
      +textarea('comment', 'Расскажите обо всех повАдках кота', 1000)
